*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", 'Trebuchet MS';
    font-weight: 600;
    font-size: 13px;
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    /* background-color: #0f0f0f;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('images/bg_3.jpg'); */
}

body{
    overflow-x: hidden;
    /* overflow-y: hidden; */
    font-family: "Montserrat", 'Trebuchet MS';
    background-color: #0f0f0f;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('images/bg_3.jpg');
    color:#f1f1f1;
    /* background-position: center -150px; */
    /* background-size: cover; */
    /* background-color: #9f1515; */
    /* font-weight: 600; */
}

button{
    outline: none;
    border: 0;
    border-radius: 10px;
    background-color: #0f0f0f;
    color: #f1f1f1;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    /* border-top-right-radius: 12px; */
    /* border-bottom-right-radius: 12px; */
}

input{
    color: #0f0f0f;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    /* background-color: #272727; */
    background-color: #0f0f0f;
    color: #f1f1f1;
    padding: 10px 15px;
}

input:focus{
    outline: none;
}

::-webkit-scrollbar{
    background-color: #0f0f0f;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #272727;
}

.header{
    width: 100vw;
    display: flex;
    padding: 0 50px;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    /* filter: blur(5px);  */

}

.header > *{
    font-size: 15px;
}

.main_page{
    background-color: #0f0f0f;
    padding: 12px 20px;
    border-radius: 10px;
    color: orange;
    /* font-size: 18px; */
    /* background-color: #0f0f0f; */
    /* padding: 10px; */
    /* border-radius: 10px; */
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    /* padding: 0 100px; */
    /* filter: blur(5px);  */

}


.ready_wr{
    background-color: #0f0f0f;
    padding: 8px 20px;
    border-radius: 20px;
}

canvas{
    margin-top: 25px;
    touch-action: none;
    /* background-color: #c54242; */
    /* background-color: #b3beeb; */
    background-color: #0f0f0f;
    border-radius: 10px;
    margin-right: 20px;
    /* background: url('images/billy_mot.gif') ; */
    background-size: cover;
}

.header_icon{
    height: 18px;
    width: 19px;
    vertical-align: sub;
    margin-right: 3px;
}


.clear_button{
    /* margin-left: 10px; */
    color: orange;
}

.leader_tool{
    margin-top: 10px;
    width: fit-content;
    /* padding: 8px 15px ; */
    border-radius: 20px !important;
    margin-right: 10px;
    font-size: 13px !important;
    font-weight: 600 !important;
    background-color: #0f0f0f !important;
}

.chat_write{
    /* border-top: 7px solid #0f0f0f; */
    font-size: 13px;
    font-weight: 600;
    /* background-color: #272727; */
    background-color: #0f0f0f;
    /* border-top: 7px solid #0f0f0f; */
    color: #f1f1f1;
    padding: 10px 15px;
    margin-bottom: 50px;
    width: 245px;
    height: 50px;
    margin-right: 5px;
    border-radius: 0px 0px 0px 10px;
}

.chat_write_and_btn_send{
    width: 350px;
    height: 50px;
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
}

.btn_send_mes{
    width: 100px;
    height: 50px;
    background-color: #0f0f0f;
    border-radius: 0px 0px 10px 0px;
    font-size: 13px;
    font-size: 600;
}

.chat_watch > *{
    /* max-height: 30px; */
}

.chat_watch{
    position: relative;
    margin-top: 25px;
    width: 350px;
    height: 300px;
    background-color: #272727;
    background-color: #0f0f0f;
    /* background-color: black; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px !important;
    /* border-radius: 10px; */
    padding: 20px;
    overflow-y: scroll;
    /* font-size: 15px; */
}

.chat_info{
    /* position: absolute; Абсолютное позиционирование относительно родителя */
    bottom: 0; /* Фиксируем к нижнему краю */
    left: 0; /* Можно настроить для выравнивания */
    width: 100%; /* Растягиваем по ширине родителя */
    background-color: #0f0f0f;
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: 600;
    
    /* border-top: 1px solid #f1f1f1; */
}

.chat_info > *{
    font-size: 13px;
    font-weight: 600;
    padding: 0px;
}

.chat_user{
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    overflow-x: auto;
    font-weight: 600;
    font-size: 13px;
    color: red;
}

.chat_user::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.chat_message, .official_message{
    max-width: 210px;
    margin-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    overflow-x: auto;
    font-size: 13px;
    font-weight: 600;
    color: greenyellow;
}

.official_message{
    color: greenyellow;
    width: 260px;
    margin-left: 0px;
    word-wrap: break-word;
    white-space: normal;
    /* padding-left: 0px; */

    /* overflow-x: hidden; */
}


.chat_message::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.official_message::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.chat_msg_wr{
    /* margin-bottom: 10px; */
    margin-left: 5px;
    margin-top: 5px;
}

.words_for_presenter{
    font-size: 15px;
    position: absolute;       /* Элемент будет зафиксирован относительно окна браузера */
    top: 50%;              /* Располагаем элемент на 50% от верха */
    left: 50%;             /* Располагаем элемент на 50% от левого края */
    transform: translate(-50%, -50%); /* Сдвигаем элемент на половину его ширины и высоты */
    z-index: 9999;         /* Элемент будет отображаться поверх остальных элементов */
    background-color: #0f0f0f;
    background-color: black;
    border: 2px solid purple;
    /* background-color: #ee7205; */
    color: white;          /* Цвет текста */
    padding: 30px;         /* Внутренние отступы для более удобного отображения */
    border-radius: 10px;   /* Скругленные углы */
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}

.selectable_word_wr{
    display: flex;
    gap: 10px;
}

.selectable_word{
    /* background-color: #272727; */
    /* background-color: black; */
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.selectable_word:nth-child(1){
    color: greenyellow;
}

.selectable_word:nth-child(2){
    color: rgb(180, 180, 255);
}

.selectable_word:nth-child(3){
    color: tomato;
}

.choose_word{
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 600;
}

.word_for_presenter{
    background-color: #0f0f0f;
    /* border: 2px solid #a210aa; */
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
    font-size: 13px;
    /* width: fit-content; */
    /* color: #525bff; */
    color: greenyellow;
}

.timer_choose_word{
    margin-top: 15px;
    font-size: 13px;
    font-weight: 600;
    /* background-color: tomato; */
}

.users_status_wr{
    background-color: #0f0f0f;
    padding: 10px 20px;
    border-radius: 10px;
    /* position: absolute; */
    /* top: 0; */
}

.game_timer{
    margin-top: 2px;
    font-size: 13px;
    font-weight: 600;
    color: greenyellow;
    /* color: #f1f1f1; */
    /* color: #d3a312; */
    /* margin-bottom: -25px; */
}

.img_check_mark{
    margin-left: 10px;
    height: 18px;
    width: 18px;
    vertical-align: text-top;
}

.who_is_leader{
    width: 350px;
    background-color: #0f0f0f;
    padding: 7px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.leader_label_wr{
    margin-bottom: 15px;
}

.canvas_and_chat_wr{
    display: flex;
}

.label_leader_and_what_was_word{
    background-color: #0f0f0f;
    width: fit-content;
    max-width: 350px;
    padding: 10px 15px;
    border-radius: 10px;
    /* font-size: 14px; */
    font-weight: 500;
    display: none;
}

.username_is_incorrect{
    position: absolute;
    margin-top: 10px;
    background-color: #0f0f0f;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
}


.user_tools{
    background-color: #272727;
}

.canvas_BC_choose{
    position: absolute;
    transform: translate(-25%);
    margin-top: 25px;
    z-index: 2;
}

.canvas_BC_choose_label{
    margin-bottom: 10px;
    background-color: #272727;
    padding: 10px;
    border-radius: 10px;
    cursor: auto;
    font-weight: 600;
    font-size: 13px;
}

.button_standart_color{
    margin-top: 10px;
    background-color: #272727;
    padding: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    border: 1px solid #f1f1f1;
}

.change_brush_color{
    position: relative;
    color: #525bff;
}

.brush_color_choose{
    position: absolute;
    left: 50%; 
    transform: translate(-50%, -120%);
    /* top: -220px; */
    /* background-color: #272727; */
    /* padding: 20px; */
    /* border: 5px solid #f1f1f1; */
    /* border-radius: 10px; */
}

.eraser{
    color: rgb(218, 102, 218);
}

/* .eraser{
    background: radial-gradient(circle, #ff6347 10%, transparent 10%) 0 0,
                radial-gradient(circle, #ffa500 10%, transparent 10%) 10px 10px,
                radial-gradient(circle, #32cd32 10%, transparent 10%) 20px 20px,
                radial-gradient(circle, #4169e1 10%, transparent 10%) 30px 30px;
    background-size: 40px 40px;
    animation: blink-bg 5s infinite alternate;
} */

/* .user_tools{
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    background-color: #000;
    overflow: hidden;
} 

.user_tools::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #ff6347 10%, transparent 10%) 0 0,
                radial-gradient(circle, #ffa500 10%, transparent 10%) 20px 20px,
                radial-gradient(circle, #32cd32 10%, transparent 10%) 40px 40px,
                radial-gradient(circle, #4169e1 10%, transparent 10%) 60px 60px;
    background-size: 80px 80px;
    animation: blink-dots 5s infinite linear;
}

@keyframes blink-dots {
    0% { filter: hue-rotate(0deg); opacity: 1; }
    25% { filter: hue-rotate(90deg); opacity: 0.8; }
    50% { filter: hue-rotate(180deg); opacity: 1; }
    75% { filter: hue-rotate(270deg); opacity: 0.8; }
    100% { filter: hue-rotate(360deg); opacity: 1; }
}
 */

.brush_width{
    padding: 0;
    width: 70px;
    vertical-align: sub;
}

input[type="range"]::-webkit-slider-runnable-track{
    background: #272727;
    border-radius: 10px;
}

.chat_write, .inp_username::placeholder{
    font-weight: 600;
}

.inp_username, .chat_write{
    font-size: 13px;
    font-size: 600;
}

.current_users, .game_timer{
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    /* background-color: #0f0f0f;
    padding: 10px;
    border-radius: 10px; */
}

.current_users{
    border-top: 1px solid rgb(171, 57, 171);
    padding-top: 5px;
}

.game_timer{
    border-bottom: 1px solid rgb(171, 57, 171);
    padding-bottom: 5px;
}

.audio{
    margin-top: 200px;
}

.img_button_back{
    /* border-radius: 50%; */
    height: 20px;
    width: 20px;
    vertical-align: middle;
    pointer-events: none;
}

.button_back{
    /* display: block; */
    padding: 0;
    margin-top: 10px;
    background-color: #0f0f0f;
    height: 37.6px;
    width: 37.6px;
    border-radius: 50%;
}


.start_menu_wr{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;
}

.start_menu_welcome{
    font-size: 35px;
    background-color: #0f0f0f;
    padding: 20px;
    border-radius: 15px;
}

.room_choose{
    margin-top: 40px;
}

.room_button{
    font-size: 18px;
    background-color: #0f0f0f;
    padding: 10px;
    border-radius: 10px;
}

.room_choose a{
    margin-right: 5px;
}

.SM_username_input, .SM_pass_input{
    margin-top: 30px;
    height: 80px;
    width: 320px;
    font-size: 20px;
    background-color: #0f0f0f;
    text-align: center;
    border: 2px solid #f1f1f1;
}

.SM_label_username_inp{
    margin-top: 10px;
}

.action_room_button{
    margin-top: 30px;
    font-size: 25px;
    padding: 15px 30px;
    margin-bottom: 20px;
}

.img_arrow{
    background-color: #0f0f0f;
    padding: 10px;
    border-radius: 10px;
    width: 55px;
    height: 55px;
}

.message_SM{
    margin-top: 20px;
    color: red;
    /* display: none; */
    /* margin-bottom: -10px; */
}

.what_was_word_wr{
    position: absolute;       /* Элемент будет зафиксирован относительно окна браузера */
    top: 50%;              /* Располагаем элемент на 50% от верха */
    left: 50%;             /* Располагаем элемент на 50% от левого края */
    transform: translate(-50%, -50%); /* Сдвигаем элемент на половину его ширины и высоты */
    z-index: 2;
    font-size: 15px;       
    background-color: black;
    border: 5px solid purple;
    padding: 30px;
    border-radius: 20px;  
    text-align: center;
    display: none;
}

.what_was_word_wr > *{
    /* font-weight: 300; */
    /* border-bottom: 2px solid greenyellow; */
}

.label_what_was_word{
    /* font-size: 13px; */
    /* font-weight: 500; */
}

.what_was_word{
    margin-top: 10px;
    margin-bottom: 10px;
    /* font-weight: 500; */
    font-size: 17px;
    color: #f1f1f1;
    color: greenyellow;
    text-transform: uppercase;
}

.leader_icon{
    vertical-align: middle;
    width: 19px;
    height: 19px;
}

.delll{
    background-color: #a210aa;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.btn_conf_username{
    padding: 12px 20px;
    color: rgb(101, 234, 190);
}

.welcome_header{
    color: #c71bd0;
}

.welcome_header, .main_page, .btn_conf_username, .inp_username, .status_label, .ready_button{
    background-color: #0f0f0f;
    padding: 8px 20px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 13px;
}

.status_label{
    padding: 0px;
    border-radius: 0px;
    color: rgb(71, 189, 193);
}

.ready_button{
    margin-left: 10px;
    /* background-color: red; */
    padding: 3px 8px;
    text-transform: uppercase;
    color: red;
}

.icon_send{
    margin-left: 2px;
    margin-right: 0px
}

.circle_header {
    display: inline-block;
    width: 30px;
    height: 15px;
    background-color: red;
    /* border-radius: 50%; */
    border-radius: 20px;
    vertical-align: middle;
    margin-left: 3px;
    margin-right: -10px;
}

.send_mes_icon{
    vertical-align: sub;
    width: 25px;
    height: 25px;
}

.icon_status{
    width: 20px;
    height: 20px;
    vertical-align: sub;
}

.nickname{
    color: orange;
}

.add_word{
    color: red;
    font-weight: 600;
    font-size: 13px;
}

.welcome_chat_username{
    color: red;
    font-weight: 600;
    font-size: 13px;
}

.img_for_word{
    height: 15px;
    width: 15px;
    vertical-align: text-top;
}

.left_img_for_word{
    margin-right: 10px;
    transform: scaleX(-1)
}

.right_img_for_word{
    margin-left: 10px;
}

.line_word_presenter{
    /* margin-top: 10px; */
    /* border-top: 3px solid rgb(10, 10, 159); */
}

.users_label{
    color: orange;
}

.kick_player{
    font-size: 13px;
    font-weight: 600;
    padding: 8px 20px;
    background-color: #0f0f0f;
    color: orange;
    border-radius: 20px;
    display: none;
}

.img_kick{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-left: 3px;
}

.kick_wr{
    /* position: relative; */
    /* display: flex; */
}

.kick_users_list{
    position: absolute;
    bottom: 30%;
    /* transform: translate(-15%); */
    padding: 8px 20px;
    padding-bottom: 13px;
    background-color: #0f0f0f;
    /* background-color: #1f1f2b; */
    height: 300px;
    width: fit-content;
    display: none;
    border-radius: 10px;
    border: 2px solid rgb(200, 31, 31);
    border: 2px solid purple;
    height: fit-content;
}

.player_nick_kick{
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
    display: block;
    padding: 0px;
}

.img_kick_player{
    height: 12px;
    width: 12px;
    vertical-align: middle;
    margin-left: 5px;
}

.kick_users_list.show{
    display: block;
}

.kick_label{
    margin-bottom: 5px;
    color: orange;
}

.kick_yes_count{
    /* background-color: green; */
    padding: 3px;
    border-radius: 5px;
    /* color: skyblue; */
}

.kick_no_count{
    /* background-color: red; */
    padding: 3px;
    border-radius: 5px;
}

.kick_btn_yes{
    color: greenyellow;
    margin-right: 2px;
    padding: 7px;
    /* background-color: #0f0f0f; */
    /* padding: 3px; */
}

.kick_btn_no{
    color: rgb(255, 59, 59);
    margin-left: 2px;
    padding: 7px;
}

.vote_btn_wr{
    /* margin-top: 10px; */
}

.vote_btn_wr > *{
    /* padding: 0px; */
    /* background-color: inherit; */
}

.vote_voices_wr{
    /* background-color: purple; */
    width: fit-content;
    margin: 5px auto;
    padding: 3px 10px;
    border-radius: 10px;
}

.close_connection{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: black;
    padding: 20px;
    border: 2px solid red;
    border-radius: 20px;
}

.error_label_disconnect{
    font-size: 15px;
    color: red;
    margin-bottom: 10px;
}

.error_text_disconnect{
    font-size: 15px;
    color: greenyellow;
}


@media (max-width: 768px) {
    .start_menu_wr{
        padding-top: 0px;
        height: 100vh;
        justify-content: center;
    }

    .start_menu_welcome{
        font-size: 14px;
    }

    .input_SM{
        height: 50px;
        width: 200px;
        font-size: 13px;
    }

    .input_SM::placeholder{
        font-size: 12px;
    }

    .room_button{
        font-size: 13px;
        text-align: center;
        margin-bottom: 7px;
        padding: 10px 20px;
    }

    .room_choose{
        display: flex;
        flex-direction: column;
    }

    .action_room_button{
        font-size: 15px;
        padding: 15px 25px;
    }

    .img_arrow{
        height: 40px;
        width: 40px;
    }
}
