*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    overflow-x: hidden;
    font-family: "Montserrat", 'Trebuchet MS';
    background-color: #0f0f0f;
    color:#f1f1f1;
}

button{
    outline: none;
    border: 0;
    border-radius: 10px;
    background-color: #0f0f0f;
    color: #f1f1f1;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    /* border-top-right-radius: 12px; */
    /* border-bottom-right-radius: 12px; */
}

input{
    background-color: #f1f1f1;
    color: #0f0f0f;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: #272727;
    color: #f1f1f1;
    padding: 10px 15px;
}

input:focus{
    outline: none;
}

::-webkit-scrollbar{
    background-color: #0f0f0f;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #272727;
}

.header{
    width: 100vw;
    display: flex;
    padding: 0 50px;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}

.header > *{
    font-size: 15px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    /* padding: 0 100px; */
}

canvas{
    margin-top: 50px;
    touch-action: none;
    /* background-color: #c54242; */
    /* background-color: #b3beeb; */
    background-color: #0f0f0f;
    border-radius: 10px;
    margin-right: 20px;
}


.clear_button{
    /* margin-left: 10px; */
}

.leader_tool{
    margin-top: 10px;
    background-color: #272727;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 15px;
    margin-right: 10px;
}

.chat_write{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 7px solid #0f0f0f;
    font-size: 16px;
    font-weight: 500;
    background-color: #272727;
    border-top: 7px solid #0f0f0f;
    color: #f1f1f1;
    padding: 10px 15px;
    margin-bottom: 50px;
    width: 250px;
    height: 50px;
}

.chat_write_and_btn_send{
    width: 350px;
    height: 50px;
    display: flex;
    margin-bottom: 10px;
}

.btn_send_mes{
    width: 100px;
    height: 50px;
}

.chat_watch > *{
    max-height: 30px;
}

.chat_watch{
    margin-top: 50px;
    width: 350px;
    height: 300px;
    background-color: #272727;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px !important;
    padding: 20px;
    overflow-y: scroll;
    /* font-size: 15px; */
}

.chat_user{
    max-width: 100px;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    /* display: inline-block; */
    padding: 7px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    overflow-x: auto;
}

.chat_user::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.chat_message{
    width: 160px;
    margin-left: 10px;
    background-color: #0f0f0f;
    padding: 7px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    overflow-x: auto;
}

.chat_message::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.chat_msg_wr{
    margin-bottom: 10px;
}

.ready_button{
    background-color: red;
}

.words_for_presenter{
    font-size: 15px;
    position: absolute;       /* Элемент будет зафиксирован относительно окна браузера */
    top: 50%;              /* Располагаем элемент на 50% от верха */
    left: 50%;             /* Располагаем элемент на 50% от левого края */
    transform: translate(-50%, -50%); /* Сдвигаем элемент на половину его ширины и высоты */
    z-index: 9999;         /* Элемент будет отображаться поверх остальных элементов */
    background-color: #0f0f0f; /* Темный фон с прозрачностью */
    color: white;          /* Цвет текста */
    padding: 20px;         /* Внутренние отступы для более удобного отображения */
    border-radius: 10px;   /* Скругленные углы */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectable_word_wr{
    display: flex;
    gap: 10px;
}

.selectable_word{
    background-color: #272727;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

.choose_word{
    margin-bottom: 15px;
}

.word_for_presenter{
    margin-top: 10px;
}

.timer_choose_word{
    margin-top: 10px;
}

.game_timer{
    margin-top: 10px;
    margin-bottom: -25px;
}

.img_check_mark{
    margin-left: 10px;
    height: 18px;
    width: 18px;
    vertical-align: super;
}

.who_is_leader{
    width: 350px;
    background-color: #0f0f0f;
    padding: 7px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.leader_label_wr{
    margin-bottom: 15px;
}

.canvas_and_chat_wr{
    display: flex;
}

.label_leader_and_what_was_word{
    background-color: #272727;
    width: fit-content;
    max-width: 400px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 15px;
}

.username_is_incorrect{
    position: absolute;
    margin-top: 10px;
    background-color: #272727;
    padding: 10px 15px;
    border-radius: 10px;
}


.user_tools{
    background-color: #272727;
}

.canvas_BC_choose{
    position: absolute;
    transform: translate(-25%);
    margin-top: 25px;
}

.canvas_BC_choose_label{
    margin-bottom: 10px;
    background-color: #272727;
    padding: 10px;
    border-radius: 10px;
    cursor: auto;
    font-weight: 600;
    font-size: 13px;
}

.button_standart_color{
    margin-top: 10px;
    background-color: #272727;
    padding: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    border: 1px solid #f1f1f1;
}

