{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/images/icon.png">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <meta name="viewport" content="width=1224"> -->
    <meta name="viewport" content="width=1300">
    <title>{% block title %} Крокодил {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'farbtastic.css' %}">
    <script src="{% static 'jquery-3.7.1.min.js' %}" defer></script>
    <script src="{% static 'farbtastic.js' %}" defer></script>
    <script src="{% static 'script.js' %}" defer></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
</head>  
<body>
    {% block header %}
    <div class="header">
        <a href="/" class="main_page">
            <img class="header_icon" src="{% static 'images/home.png' %}" alt="">
            Главная
        </a>
        <div class="username_ent_wr">
            <input class="inp_username" placeholder="Изменить никнейм" type="text">
            <!-- <div class="username_is_incorrect">Допускается не более 15 символов и отсутствие пробелов</div> -->
            <button class="btn_conf_username">Подтвердить
                <img class="header_icon icon_send" src="{% static 'images/send_icon.png' %}" alt="">
            </button>
        </div>
        <div class="ready_wr">
            <span class="status_label">Ваш статус:&nbsp;</span>
            <span class="circle_header"></span>
            <!-- <button class="ready_button">не готов</button> -->
            <button class="ready_button">Нажмите для готовности</button>
        </div>
        <button style="display: none;" class="user_tools"
            data-color='{{ request.session.color }}'
            data-brush-color='{{ request.session.brush_color }}'
            data-brush-width='{{ request.session.brush_width }}'>
            Кастомизация
            <!-- <div class="canvas_BC_choose">
                <div class="canvas_BC_choose_label">Выбор цвета доски</div>
                <input type="text" id="color" name="color" value="#123456" />
                <div id="colorpicker"></div>
            </div> -->
        </button>
        <div class="welcome_header">
            Добро пожаловать, 
            <span class="nickname">{{ request.session.username }}</span>
            <img class="header_icon" src="{% static 'images/welcome_icon.png' %}" alt="">
        </div>
    </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>
</html>