

{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Крокодил</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script_join_room.js' %}" defer></script>
</head>  
<body>
    <div class="start_menu_wr">
        <div class="start_menu_welcome">
            Введите пароль комнаты
        </div>
        <input class="SM_pass_input input_SM" autofocus maxlength="20" minlength="1" placeholder="Пароль" {% if username %} {% endif %}></input>
        <button class="action_room_button" data-target="/play/">Присоединиться к комнате</button>
        <a href="/"><img class="img_arrow" src="{% static 'images/arrow.png' %}" alt="Назад"></a>
    </div>
</body>
</html>